
devices/cyclonev-20.1.1.720.qdz
ex_1/modelsim.ini
ex_1/ModelSim.lnk
ex_1/transcript
ex_1/vsim.wlf
ex_1/work/_info
ex_1/work/_lib.qdb
ex_1/work/_lib1_5.qdb
ex_1/work/_lib1_5.qpg
ex_1/work/_lib1_5.qtl
ex_1/work/_vmake
